<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="2;url=/login">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <script src="https://cdn.tailwindcss.com" ></script>
   
   <script>
    setTimeout(() => {
      window.location.href = "/login";
    }, 2000);
  </script>
  
</head>
<body class="bg-zinc-900 text-white flex justify-center items-center min-h-screen">
    <h1 class="text-2xl sm:text-3xl font-semibold">Registered Successfully! Redirecting to login...</h1>
</body>
</html>
